<form class="form-horizontal" novalidate (ngSubmit)="search()" [formGroup]="searchForm">
  <mat-card>
    <mat-card-title>
      <mat-toolbar>Search</mat-toolbar>
    </mat-card-title>
    <mat-card-content>
      <button mat-button (click)="addQueryBlock()" type="button">
        <mat-icon>add</mat-icon>
        Add
      </button>

      <div formArrayName="queryBlocks" *ngFor="let queryBlock of queryBlocks.controls; let i=index">
        <div class="form-group" [formGroupName]="i">
          <mon-search-block></mon-search-block>
          <button mat-button (click)="removeQueryBlock(i)" type="button">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>

    </mat-card-content>
    <mat-card-actions>
      <button mat-button type="submit">
        <mat-icon>search</mat-icon>
        Search
      </button>
    </mat-card-actions>
  </mat-card>
</form>